body {
    background-color: yellow;
    height: 100vh;
    display: grid;
    place-items: center;
}

.border {
    border: 1px solid skyblue;
}

small {
    display: block;
    color: #999;
}

.container {
    background-color: white;
    border: 1px solid #ccc;
    width: 250px;
    padding: .7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: .7rem;
}